{% for E in accountingEntry %}
        <tr>
          <td>{{ E.id }}</td>
          <td>{{ E.description }}</td>
          <td>{{ E.auxiliarOrigin }}</td>
          <td>{{ E.accountId }}</td>
          <td>{{ E.movementTypeId }}</td>
          <td>{{ E.datetime }}</td>
          <td>{{ E.amount }}</td>
          <td>{{ E.state }}</td>
          <td style="width: 150px">
            <button type="button"
              class="btn btn-warning btn-sm js-update-accountingEntry"
              data-url="{% url 'accountingEntryUpdatePartial' E.id %}">
             <span class="glyphicon glyphicon-pencil"></span> Editar
            </button>
            <button type="button"
              class="btn btn-danger btn-sm js-delete-accountingEntry"
              data-url="{% url 'accountingEntryDelete' E.id %}">
            <span class="glyphicon glyphicon-trash"></span> Eliminar
            </button>
           </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="8" class="text-center bg-warning">No hay Entradas</td>
        </tr>
      {% endfor %}
   
