{% extends "app/layout.html" %}

{% block content %}


  <h1 class="page-header">{{ title }}</h1>

<p>
    <button type="button" class="btn btn-primary js-create-accountingEntry" data-url="{% url 'accountingEntryCreate' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Nueva Entrada
    </button>
  </p>

  <table class="table" id="accountingEntry-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Descripci&oacute;n</th>
        <th>Auxiliar</th>
        <th>Cuenta</th>
        <th>Tipo de Movimiento</th>
        <th>Fecha de Entrada</th>
        <th>Monto</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% include 'app/accountingEntryPartial.html' %}
     </table>
 <div class="modal fade" id="modal-accountingEntry">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}