{% extends "app/layout.html" %}

{% block content %}


  <h1 class="page-header">{{ title }}</h1>

<p>
    <button type="button" class="btn btn-primary js-create-accountType" data-url="{% url 'accountTypesCreate' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Nuevo Tipo de Cuenta
    </button>
  </p>

  <table class="table" id="accountType-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Descripci&oacute;n</th>
        <th>Origen</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% include 'app/accountTypesPartial.html' %}
     </table>
 <div class="modal fade" id="modal-accountType">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}