{% for E in accountingAccounts %}
        <tr>
          <td>{{ E.char }}</td>
          <td>{{ E.description }}</td>
          <td>{{ E.accountTypeId }}</td>
          <td>{{ E.allowsTransactions }}</td>
          <td>{{ E.level }}</td>
          <td>{{ E.majorAccount }}</td>
          <td>{{ E.balance }}</td>
          <td>{{ E.state }}</td>
          <td style="width: 150px">
            <button type="button"
              class="btn btn-warning btn-sm js-update-book"
              data-url="{% url 'accountingAccountsUpdatePartial' E.id %}">
             <span class="glyphicon glyphicon-pencil"></span> Editar
            </button>
            <button type="button"
              class="btn btn-danger btn-sm js-delete-account"
              data-url="{% url 'accountingAccountsDeletePartial' E.id %}">
            <span class="glyphicon glyphicon-trash"></span> Eliminar
            </button>
           </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="8" class="text-center bg-warning">No hay Cuentas</td>
        </tr>
      {% endfor %}
   
