{% extends "app/layout.html" %}

{% block content %}


  <h1 class="page-header">{{ title }}</h1>

<p>
    <button type="button" class="btn btn-primary js-create-movementType" data-url="{% url 'movementTypesCreate' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Nuevo Tipo de Movimiento
    </button>
  </p>

  <table class="table" id="movementType-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Descripci&oacute;n</th>
       
      </tr>
    </thead>
    <tbody>
      {% include 'app/movementTypesPartial.html' %}
     </table>
 <div class="modal fade" id="modal-movementType">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}